.form {
    padding: 15px 10px;

    width: 400px;
    border: 1px solid black;
}

.label {
    margin-bottom: 3px;
    display: block;
}

.input {
    display: block;
    margin-bottom: 20px;

    width: 300px;


}

.btn {
    display: block;
}
