.list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
}

.item {
    font-size: 17px;
}

.button {
    font-size: 13px;
    margin-left: 20px;
}
